{% comment %} <html>
<head>
<title>Message</title>
</head>
<body>
    <h1>Attendance Captured for today!</h1>
</body>
</html> {% endcomment %}

<html>
    <head>
        <link href="/static/CSS/styles3.css" rel="stylesheet">
    </head>
    <body>
        <article>
            <h3>Attendance captured for today!</h3>
            <br><br>
          </article>
          <div class="frame">
            <a href="{% url 'faculty' %}"><button class="custom-btn btn-4">Back to Faculty Page</button></a>
          </div>
        </body>
    </html>