{% comment %} <!DOCTYPE>
<html>  
<body>  
<form>  
    <a class="button" style="vertical-align:middle" href="{% url 'faculty' %}"><span> Faculty
    </span></a> <br>
    <a class="button" style="vertical-align:middle" href="{% url 'student' %}"><span> Student  
    </span></a> <br>
</form>  
</body>
</html>  {% endcomment %}

<html>
    <body>
    <link rel="stylesheet" href="/static/CSS/styles1.css">
    <h1 style="color:white;">Attendance Portal</h1>
    <div class="container" align = "center">
        <a href="faculty"><img src="\static\images\fac.jpg" alt="" >
        <a href="student"><img src="\static\images\stu.jpg" alt="" >
    </div>
  </body>
</html>